.App {
  margin: 30px;
}

.App-title {
  padding-left: 20px;
  padding-right: 20px;
}

.App-intro {

}

.main{
  padding: 20px;
}

.daily-submit{
  margin-left: 10px;
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: yellow;
  box-shadow: 2px 2px 5px gray;
}
